<h2 mat-dialog-title>Create New Auction</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="space-y-4">
    <mat-form-field class="w-full">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="form.get('title')?.hasError('required')"
        >Title is required</mat-error
      >
      <mat-error *ngIf="form.get('title')?.hasError('minlength')"
        >Minimum 3 characters</mat-error
      >
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="4"></textarea>
    </mat-form-field>
    <mat-form-field class="w-full" floatLabel="always">
      <mat-label>Current Bid</mat-label>

      <input
        matInput
        type="number"
        class="example-right-align"
        formControlName="currentBid"
      />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
      <mat-error *ngIf="form.get('currentBid')?.hasError('min')"
        >Bid cannot be negative</mat-error
      >
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="endTime" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('endTime')?.hasError('required')"
        >End time is required</mat-error
      >
      <mat-error *ngIf="form.get('endTime')?.hasError('matDatepickerParse')"
        >Invalid date format</mat-error
      >
    </mat-form-field>

    <div>
      <label class="block text-sm font-medium">Upload Image</label>
      <input
        type="file"
        accept="image/*"
        (change)="onFileChange($event)"
        class="mt-1 block w-full"
      />
      <img
        *ngIf="imagePreview"
        [src]="imagePreview"
        alt="Image Preview"
        class="mt-2 max-w-xs"
      />
    </div>

    <mat-form-field class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="active">Active</mat-option>
        <mat-option value="closed">Closed</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    Create
  </button>
</mat-dialog-actions>
